technician-table{
    border: 1px solid black;
}

.sidebar {
    width: 200px;
    height: 100%;
    background-color: #333; 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50px;
    left: 0;
  }
  
  .logo-container {
    margin-top: 20px;
  }
  
  #html-home{
    padding-top: 80px;
    margin-left: 100px;
    padding-top: 100px;
  }
  .link{
    text-decoration: none;
    color: white;
  }
  
  .reportupload{
    margin: 4px;
    padding: 20px;
    background-image: linear-gradient(to right, orange, red);
    text-align: center;
    margin-left: 130px;
  }
  .reportupload button{
    border-radius: 9px;
    border: none;
  }
  
  .techimage{
  
   
  }
  
  .logo {
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    margin-top: 80px;
  }
  
  .sidebar-button {
    margin-top: 10px;
    padding: 10px;
    background-color: #fbf7f7; 
    color: rgb(54, 52, 52);
    border: none;
    cursor: pointer;
    width: 80%;
  }
.SendReportsbtn{
    border-radius: 5px;
    height: 25px;
    width: 100px;
    margin-left: 200px;
}
body{
  min-height: 100vh;
  background-color: rgb(247, 247, 250);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb{
  background: #0b0a0a;
}

.sidebar{
  position: fixed;
  width: 200px;
  height: 100vh;
  background: linear-gradient(-45deg, #252124, #f7f3f4);
  display: flex;
  flex-direction: column; margin-top: -1.2%;
}

.scrollbox{
  overflow: auto;
}

.sidebar h1{
  color: #fff;
}

.scrollbox p{
  color: #fff; cursor: pointer; margin-left: 5%;
}

.scrollbox p:hover{
  background-color: rgb(14, 13, 13); color: rgb(253, 252, 252);
}


.content-scroll{
  scroll-behavior: smooth;
  scroll-padding-top: 50rem;
  width: 800px;
  float: right;
}

.home-btns{
  display: flex; justify-content: space-around; 
}

.home-btns button{
  cursor: pointer; 
}

.home-studybtns button{
  cursor: pointer; margin-left: 40%; height: 2rem;
}

.home-studybtn-1 button{
  background-color: rgb(13, 100, 13);
}

.home-studybtn-2 button{
  background-color: black; color: #fff;
}

.home-studybtn-1 button:hover{
  background-color: black; color: #fff;
}

.home-studybtn-2 button:hover{
  background-color: rgb(13, 100, 13);
}
.technicianreports{
  height: 400px;
  width: 800px;
  border-radius: 8px;
  margin: 15px;
  padding: 25px;
  padding-top: 100px;
  background-image: linear-gradient(to right, rgb(200, 200, 235), rgb(102, 102, 253));
  
}
.technicianinput{
  margin-left: 100px;
  margin-top: 8px;
}
.technicianbtn{
  border-radius: 6px;
  border: none;
  padding: 4px;
  margin-left: 180px;
  margin-top: 100px;
}
form{
  margin-left: 140px;
}

